<!doctype html>
<html lang="en" class="h-100">

<head>
    <%- include('head') %>
</head>

<body class="d-flex h-100 text-center ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="../scripts/add-logs.js"></script>
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <!-- <div class="container">
            <header class="d-flex flex-wrap justify-content-center border-bottom py-3 mb-4">
                <a href="/" class="d-flex mb-3 px-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">Diabetes Diary</span>
                </a>
                <div class="col-md-3 px-3 text-end">
                    <form action="/logout" method="post">
                        <button class="btn btn-dark px-3" type="submit">Sign out</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </header>
        </div> -->
        <%- include('header') %>

        <main class="container pt-4">
            <form action="/logs" method="post" id="log-form">
                <div class="row pb-2">
                    <h3 class="pb-2 mb-6">Add New Log</h3>
                    <div class="col">
                        <label for="date-input" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date-input" name="dateInput">
                    </div>
                    <div class="col">
                        <label for="time-input" class="form-label">Time</label>
                        <input type="time" class="form-control" id="time-input" name="timeInput">
                    </div>
                </div>
                <div class="row">
                    <div class="card-group py-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Blood Sugar</h5>
                                <div class="input-group mb-3">
                                    <input type="number" step="0.1" class="form-control" placeholder="e.g. 5.5"
                                        aria-label="Blood Sugar" aria-describedby="blood-sugar-units"
                                        id="blood-sugar-input" name="bloodSugarInput">
                                    <span class="input-group-text" id="blood-sugar-units">mmol/mol</span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Meal</h5>
                                <div class="col py-2">
                                    <input type="text" class="form-control" placeholder="Meal Name"
                                        aria-label="Name of meal being logged" id="meal-name-input"
                                        name="mealNameInput">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="number" step="0.1" class="form-control" placeholder="Carbs"
                                        aria-label="Carbs in meal" aria-describedby="carbs-units" id="carbs-input"
                                        name="carbsInput">
                                    <span class="input-group-text" id="carbs-units">grams</span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Insulin</h5>
                                <div class="row g-3">
                                    <select class="col form-select" aria-label="Select with Insulin options" id="insulin-type-input" name="insulinTypeInput">
                                        <option selected>Novorapid</option>
                                        <option value="1">Levemir</option>
                                        <option value="2">Fiasp</option>
                                        <option value="3">Lantus</option>
                                    </select>
                                    <div class="input-group col">
                                        <input type="number" step="0.1" class="form-control" placeholder="Units"
                                            aria-label="Units for insulin" aria-describedby="insulin-units"
                                            id="insulin-units-input" name="insulinUnitsInput">
                                        <span class="input-group-text" id="insulin-units">units</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid d-grid gap-2">
                    <button class="btn btn-dark px-3" type="submit">Add Log</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
            </form>
        </main>

        <!-- <footer class="border-top fs-6 mt-auto">
            <small>
                <p>Rachel Finucane C18735641</p>
                <p>This is an academic project and not medical software</p> -->
                <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-black">Bootstrap</a>, by <a
                        href="https://twitter.com/mdo" class="text-black">@mdo</a>.</p> -->
            <!-- </small>
        </footer> -->
        <%- include('footer') %>
    </div>
</body>

</html>